/* Added by PeDev. */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
    .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}

.post-toc li {
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

div.post-toc-body.markdown-body {
    margin: 10px;
    font-size: 1.4rem;
}

.post-toc a {
    margin: 0;
    padding: 0;
}

div.img-alt {
    outline: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--color-text-a);
}

.post-wordcount {
    font-weight: 400;
}
